include ./_mixings.pug

header.header
    .container.container_header
        .header__column
            +social('social', [{"text": "vk", "link": "https://vk.com/iryyysik"}, {"text": "github", "link": "https://github.com/IrynaDonska"}, {"text": "in", "link": "#"}])
        .header__column
            .hamburger
                svg.hamburger__img
                    use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#hamburger`)       