.its-me
    .its-me__photo(style='background-image:url(assets/images/jpg-png/me.jpg)')
        img.its-me__photo-img.visuallyHidden(src="./assets/images/jpg-png/me.jpg", alt="Мое фото")
    .its-me__name #{titleItsMe}
    .its-me__description #{descriptionItsMe}
        
       