.progressbar
    .progressbar__row
        .progressbar__name Frontend
            .progressbar__circle
                span.progressbar__circle-name HTML5
            .progressbar__circle
                span.progressbar__circle-name SCSS3
            .progressbar__circle
                span.progressbar__circle-name JavaScript jQuery
    .progressbar__row
        .progressbar__name Backend
            .progressbar__circle
                span.progressbar__circle-name PHP
            .progressbar__circle
                span.progressbar__circle-name mySQL
            .progressbar__circle
                span.progressbar__circle-name Node.js npm
            .progressbar__circle
                span.progressbar__circle-name Mongo.db
    .progressbar__row
        .progressbar__name WorkFlow
            .progressbar__circle
                span.progressbar__circle-name Git
            .progressbar__circle
                span.progressbar__circle-name Gulp
            .progressbar__circle
                span.progressbar__circle-name Bower