include ./_mixings.pug

.slider
    .slider__description
        ul.slider__list
            li.slider__item.slider__item_active
                .title_small.slider__site-name Сайт школы онлайн образования
                .slider__site-technologies HTML , CSS, JAVASCRIPT
                a.slider__site-button(href="1") 
                    svg.slider__site-button-img
                        use(xlink:href="./assets/images/sprite-svg/svg/symbols.svg#link")
                    .slider__site-button-text Перейти на сайт
            li.slider__item
                .title_small.slider__site-name Сайт школы онлайн 
                .slider__site-technologies HTML , CSS, JAVASCRIPT
                a.slider__site-button(href="2") 
                    svg.slider__site-button-img
                        use(xlink:href="./assets/images/sprite-svg/svg/symbols.svg#link")
                    .slider__site-button-text Перейти на сайт
            li.slider__item
                .title_small.slider__site-name Сайт школы 
                .slider__site-technologies HTML , CSS, JAVASCRIPT
                a.slider__site-button(href="3") 
                    svg.slider__site-button-img
                        use(xlink:href="./assets/images/sprite-svg/svg/symbols.svg#link")
                    .slider__site-button-text Перейти на сайт
            li.slider__item
                .title_small.slider__site-name Сайт школ 
                .slider__site-technologies HTML , CSS, JAVASCRIPT
                a.slider__site-button(href="4") 
                    svg.slider__site-button-img
                        use(xlink:href="./assets/images/sprite-svg/svg/symbols.svg#link")
                    .slider__site-button-text Перейти на сайт
    .slider__pages
        ul.pages__list#pages
            li.pages__item
                img.pages__item-img(src="./assets/images/jpg-png/my-works/work-2.png")
            li.pages__item.pages__item_showing
                img.pages__item-img(src="./assets/images/jpg-png/my-works/work-1.png")
            li.pages__item
                img.pages__item-img(src="./assets/images/jpg-png/my-works/work-3.png")
            li.pages__item
                img.pages__item-img(src="./assets/images/jpg-png/my-works/work-4.png")
    .slider__buttons
        .slider__button.slider__button_next#next 
            svg.button__icon
                use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#portf_arrow_up`)
            img.pages__item-img(src="./assets/images/jpg-png/my-works/work-2.png")
        .slider__button.slider__button_previous#previous 
            svg.button__icon
                use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#portf_arrow_down`)
            img.pages__item-img(src="./assets/images/jpg-png/my-works/work-3.png")