section.section.section_triangle
    include ../common/header.pug
    .container.container_triangle
        .triangle-content
            include ../common/its-me-circle.pug
    svg.arrow-down 
        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#arrow_down`)
    svg.portfolio_header(class=portfolioHeaderBlog) 
        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#portfolio_header`)
    svg.blog_header(class=headerBlog) 
        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#blog_header`)
    include ./triangle-svg.pug
.hidden-menu
    .container.container_hidden-menu
        svg.hidden-menu__close 
            use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#close`)
        +nav('hidden-menu', [{"text": "Мои работы", "link": "my-works.html"}, {"text": "Обо мне", "link": "about.html"}, {"text": "Блог", "link": "blog.html"}, {"text": "Авторизация", "link": "index.html"}]) 