.triangle-box
    svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 85" preserveAspectRatio="none" class="triangle")
        polygon.triangle__left(class=leftTriangleModif points="0,0 0,86 500.8,86 500.8,75.5")
        polygon.triangle__right(class=rightTriangleModif points="1000,0 1000,86 500,86 500,75.5")