.triangle-content
    include ../common/header.pug
    include ../common/its-me-circle.pug
    svg.scroll-down 
        use(xlink:href=`./images/sprite-svg/svg/symbols.svg#arrow_down`)
    svg.triangle
        use(xlink:href=`./images/sprite-svg/svg/symbols.svg#bg`)