extends ../template
include ../common/_mixings.pug

block variables
    - var title = 'Обо мне'
    - var script = '/assets/scripts/js/about.js'
    - var titleItsMe = 'Ирина Донская'
    - var descriptionItsMe = 'Личный сайт веб разработчика'
    - var leftTriangleModif = 'triangle__left_about'
    - var headerBlog = 'blog_header-none'

block content
    include ../common/triangle-forest.pug   
    section.section.section_about-me
        .green
        .container.container_about-me
            .about-me
                .about-me__information
                    .about-me__information-left
                        .title.title_big.title_line.title_about-me Обо мне
                    .about-me__information-right
                        .about-me__photo
                            img.about-me__photo(src="./assets/images/jpg-png/me.jpg", alt="Мое фото")
                        .title.title_small Кто я
                        .about-me__text.text-paragraph 
                            p Я веб разработчик из Грузии. Мне 23 года. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                            p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!
                .about-me__progressbar
                    .title.title_small Чем я могу быть вам полезна
                    .about-me__text.text-paragraph 
                        p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                    include ../common/progress-bar.pug
    section.section.section_map#map
        .container.container_map
            .contact
                .title.title_small Контакты
                a.contact__link(href="skype:iryna_donska?call") 
                    svg.contact__icon
                        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#skype`) 
                    span iryna_donska
                a.contact__link(href="mailto:id2910@mail.ru")  
                    svg.contact__icon
                        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#envelope2`) 
                    span id2910@mail.ru
                a.contact__link(href="tel:+995557538308")  
                    svg.contact__icon
                        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#phone2`) 
                    span +995 557 538 308
                .contact__link    
                    svg.contact__icon
                        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#map_marker`)   
                    span Грузия, г. Тбилиси 
        include ../common/footer.pug   