extends ../template
include ../common/_mixings.pug

block variables
    - var title = 'Мои работы'
    - var script = '/assets/scripts/js/my-work.js'
    - var titleItsMe = 'Ирина Донская'
    - var descriptionItsMe = 'Личный сайт веб разработчика'
    - var headerBlog = 'header__blog-background_none'
   

block content
    include ../common/section-header.pug   
    section.section.my-works
        .my-works-content
            .title-block.title-block_my-works
                .title.title_big Мои работы
                svg.my-works__works-background 
                    use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#works_header`)
            include ../common/slider.pug  
    section.section.feedback
        .container.container_feedback
            .feedback-content
                .title-block.title-block_feedback
                    .title.title_big.title_feedback Что обо мне говорят
                    svg.feedback__about-background
                        use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#about_header`)
                +feedback('feedback', [
                    {
                        "name": "Ковальчук Дмитрий", 
                        "photo": "background-image:url(assets/images/jpg-png/feedback/kovalchuk.jpg)", 
                        "src": "./assets/images/jpg-png/feedback/kovalchuk.jpg", 
                        "description": "Эта девушка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!", 
                        "position": "— основатель Loftschool"
                    }, 
                    {
                        "name": "Сабанцев Владимир", 
                        "photo": "background-image:url(assets/images/jpg-png/feedback/sabancev.jpg)", 
                        "src": "./assets/images/jpg-png/feedback/sabancev.jpg", 
                        "description": "Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!", 
                        "position": "— преподаватель"
                    }     
                ])
            .communication-content
                .communication-block
                    .title.title_small Связатся со мной
                    form.form-communication
                        .form-communication__row
                            label(for="name") 
                            input.form-communication__input(name="name" id="name" placeholder="Имя")
                        .form-communication__row
                            label(for="email") 
                            input.form-communication__input(name="email" id="email" placeholder="email")
                        .form-communication__row
                            label(for="comment") 
                            textarea.form-communication__textarea(name="comment" id="comment" placeholder="Ваше сообщение")
                        .form-communication__row
                            button.form-communication__button(type="submit") Отправить
                            button.form-communication__button(type="reset") Очистить
            svg.arrow-up 
                use(xlink:href=`./assets/images/sprite-svg/svg/symbols.svg#portf_arrow_up`)
        include ../common/footer.pug