.my-works {
    min-height: 100%;
}
//слайдер
.slider{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
    grid-template-areas: 
        "info display"
        "info btns"; 

    @include ipad {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 30% 20%;
        grid-template-areas: 
            "display"
            "info"
            "btns";
        }
    @include iphone{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 45% 40% 15%;
        grid-template-areas: 
            "display"
            "info"
            "btns";
    }          
}



.slider {
    &__description {
        background-color: #ebefe2;
        grid-area: info;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__item {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: rem(320);

        @include ipad {
            width: rem(550);
        } 
        @include iphone{
            width: rem(200);
        } 
    } 


    &__site-technologies {
        font-family: 'robotomedium';
        font-weight: normal;
        font-style: normal;
        font-size: rem(16);
        color: $green-dark;
        margin-bottom: rem(60);

        @include ipad {
           margin-bottom: rem(40);
        }

        @include iphone {
            font-size: rem(14);
            margin-bottom: rem(20);
        }
        
    }


    &__site-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: rem(200);
        height: rem(45);
        background-color: $green-light;
        border-radius: rem(20);
        font-family: 'robotomedium';
        font-weight: normal;
        font-style: normal;
        font-size: rem(16);
        color: $white;

        @include iphone {
            font-size: rem(14);
            width: rem(185);
            height: rem(40);
        }

        &:hover {
            background-color: $green-dark; 
            transition: 1s;
        }
    }

    .slider__item_active {
        display: flex;
    }

}

.slider__pages {
    background-color: #e1e4d7;
    grid-area: display;
    position: relative;  
}

.pages {

    &__list {
        width: 100%;
        height: 100%; 
    }
    
    &__item {
        width: 100%;
        height: 100%;  
        display: none;
        justify-content: center;
        align-items: center;


        &_showing {
            display: flex;   
        }
    }

    &__item-img {
        max-width: 66%;
        max-height: 76%;
    }
}

.slider__buttons {
    grid-area: btns;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "btn-prev btn-next";
    
}

.slider__button {
    width: 100%;
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    background-color: #bdbebd;

    &::after {
        content: "";
        display: block;
        position: absolute;
        background: rgba(#93998d, .7);
        top: rem(0);
        left: rem(0);
        right: rem(0);
        bottom: rem(0);
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    &:hover::after {
        opacity: 0;
        transition: 1s;

    }

    &:hover .button__icon {
        display: none;
        transition: 1s;
    }
}

.slider__button_previous {
    grid-area: btn-prev;
}

.slider__button_next {
    grid-area: btn-next;
}

// отзывы
.feedback {
    background: url("../images/jpg-png/my-work.jpg") no-repeat center center;
    background-size:  cover;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
} 

.container_feedback {
    position: relative;
}

.feedback {
    &__list{
        margin-bottom: rem(70);
        display: flex;
        flex-direction: row;
        justify-content:center ;
        align-items: center;

        @include ipad {
            margin-bottom: rem(50);       
        }

        @include iphone {
            margin-bottom: rem(35);
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        width: rem(380);
        margin-right: rem(20);
        font-family: 'robotoitalic';
        font-weight: normal;
        font-style: normal;
        font-size: rem(16);
        line-height: 1.5em;
        color: #5d5a55;

    
        @include iphone{
            width: rem(290);
            margin-right: 0;
            margin-bottom: rem(40)

        }          

        &:last-child {
            margin-right: 0;

            @include iphone{
                margin-bottom: 0;
            }
        }

        
        &-photo {
            background-image: center center no-repeat;
            width: rem(80);
            height: rem(80);
            border-radius: 50%;
            background-size:  cover;
            margin-bottom: rem(22);

            @include iphone {
                width: rem(50);
                height: rem(50);
                margin-bottom: rem(17);  
            } 
            
            &-img {
                width: rem(80);
                height: rem(80);
                border-radius: 50%;
                
                @include iphone {
                    width: rem(50);
                    height: rem(50);  
                }
            }
        }

        &-description {
            line-height: 1.625em;
            margin-bottom: rem(30);

            @include ipad {
                font-size: rem(14);
                line-height: 1.7142em;
                margin-bottom: rem(20);       
            }

            @include iphone {
                font-size: rem(14);
                line-height: 1.7142em;
                margin-bottom: rem(20);       
            }
        }

        &-name {
            font-family: 'robotobold_italic';
            margin-bottom: rem(10);
            color: $green-dark;

            @include iphone {
                font-size: rem(14);
                line-height: 1.7142em;       
            }
        }

        &-position {
            color: $dark;

            @include iphone {
                font-size: rem(14);
                line-height: 1.7142em;       
            }
        }

    } 
}


//форма связи
.communication-content {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: rem(160);
}

.communication-block {
    width: rem(380);
    height: rem(460);
    border-radius: rem(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;

    @include ipad {
        width: rem(350);
        height: rem(440);       
    }

    @include iphone {
        width: rem(300);
        height: rem(420);       
    }
    

    &:before {
        content: '';
        position: absolute; top: 0; left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(218, 219, 214, 0.6);     
        filter: blur(5px);  
      }
}

.form-communication {
    z-index: 1;
    &__row {
        margin-bottom: rem(20);
       
        &:nth-child(3) {
            margin-bottom: rem(55);
        }

        &:last-child {
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            margin-bottom: 0;
        }

    }

    &__input {
        width: rem(340);
        height: rem(45);
        padding: rem(15) rem(20);
        border-radius: rem(23);
        cursor: pointer;

        @include ipad {
            width: rem(310);       
        }

        @include iphone {
            width: rem(260);
            height: rem(40);
        }
    }

    &__textarea {
        width: rem(340);
        height: rem(140);
        padding: rem(15) rem(20);
        border-radius: rem(23);
        cursor: pointer;
        resize: none;

        @include ipad {
            width: rem(310);       
        }

        @include iphone {
            width: rem(260);
        }
    }

    &__button {
        font-family: 'robotomedium';
        color: $white;
        font-size: rem(16);
        width:  50%;
        line-height: 2.81em;
        background-color: rgba($green-light, 0.85);
        cursor: pointer;
        border-right:  rem(3) solid rgba($white, 0.5);
    
        &:last-child {
            border-right:  none; 
        }
        
        &:hover {
            background-color: rgba($green-dark, 0.85); 
            transition: 1s;
        }
    }
}
