//variables-color
$green-light: #6c9c5a;
$green-middle: #77a266;
$green-dark: #4e8839;
$light-dark: #566358;
$dark: #373e42;
$grey: #bbc1bd;
$white: #ffffff;
$red: #e44845;
$blue: #6da3bd;

//resolution
$big-screen: 1800px;
$small-screen: 1200px;
$ipad-w:  569px;//768px
$ipad-h: 1024px;
$iphone-w: 320px;
$iphone-h: 568px;


@import 'mixing/*.scss';
@import 'layouts/*.scss';
@import 'common/*.scss';
@import 'pages/*.scss';