.header {
    position: absolute;
    top: rem(30);
    left: 0;
    width: 100%;
    z-index: 2;

    &__column {
        width: 50%;  
    } 
}

.container_header {
    display: flex;
    flex-direction: row;
}

.hamburger {
    display: flex;
    justify-content: flex-end;
} 