.social {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    &__item {
      margin-right: rem(30);

      
      &:last-child {
        margin-right: 0;
      }
    }
}