@function rem($px) {
    @return ($px/16)+rem;
}


@mixin big-title {
    font-family: 'sansus_webissimoregular';
    font-weight: normal;
    font-style: normal;
    font-size: rem(63);
    line-height: 1.11116em;
    text-transform: uppercase;
    color: $dark; 

    @include ipad {
        font-size: rem(48);
        line-height: 1.2083em;   
    }
    @include iphone {
        font-size: rem(35);
        line-height: 1.2em;   
    }  
}

@mixin small-title {
    font-family: 'sansus_webissimoregular';
    font-weight: normal;
    font-style: normal;
    font-size: rem(35);
    line-height: 1.1428em;
    text-transform: uppercase;
    color: $light-dark;

    @include ipad {
        font-size: rem(30);
        line-height: 1.2em;   
    }
    @include iphone {
        font-size: rem(21);
        line-height: 1.3333em;   
    } 
}
