//стилизация кнопок и инпутов
button, input, textarea {
    outline: none;
    border: rem(1) solid transparent;
    
    &:active{
        outline: none;
    }
}

input:focus,   textarea:focus {
    border: rem(1) solid $green-light;
}

button.form-autorization__button:focus{
    background-color: $green-dark;
}

input, textarea {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
    font-size: rem(16);
    color: rgba($dark, 0.5);
}


//стилизация заголовков
.title {
    
    &_big {
        @include big-title;
        position: relative;
        text-align: center;
        margin-bottom: rem(60);

        @include ipad {
           margin-bottom: rem(40);   
        } 
        

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: rem(90);
            height: rem(3);
            background-color: $dark;
            right: 0;
            margin: rem(-30) auto;

            @include ipad {
                margin: rem(-20) auto;    
            } 
        }
    }


    &_small {
        @include small-title;
        position: relative;
        text-align: center;
        margin-bottom: rem(60);

        @include ipad {
            margin-bottom: rem(40);   
         } 
        
        &:after {
            content: "" ;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: rem(90);
            height: rem(3);
            background-color: $light-dark;
            margin: rem(-30) auto;

            @include ipad {
                margin: rem(-20) auto;    
            } 

        }
    }
}

//cтилизация title-block (у каждого свой backgroung)
.title-block {
    padding-top: rem(70);
    position: relative;


    @include ipad {
        padding-top: rem(50);    
    } 

    @include iphone {
        padding-top: rem(30);  
    } 

    .title {
        z-index: 10;
    }

    &_my-works {
        padding-top: rem(54);

        @include ipad {
            padding-top: rem(34);    
        }

        @include iphone {
            padding-top: rem(20);   
        }   
    }

    &_feedback {
        display: flex;
        justify-content: center;
    }

    &_about-me {
        padding-top: 0;  
    }
}

.made-by-text {
    font-family: 'robotoregular';
    font-weight: normal;
    font-style: normal;
    font-size: rem(16);
    color: $white ;
    text-align: center;

    @include ipad {
        font-size: rem(14);
    }

    @include iphone {
        font-size: rem(14);
    }
}

.title_feedback {
    width: rem(400);
}